body {
  background-image: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

img {
  width: 80%;
}

#main {
  background-color: #eeeeee;
  padding: 25px 0px;
  margin: 25px 0;
  border-radius: 8px;
  text-align: center;
}

#title {
  margin: 0;
}

#img-div {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 40px 20px;
  margin: 20px;
}

ul {
  text-align: left;
  margin: 0px auto 0px auto;
  max-width: 530px;
  line-height: 1.6;
}

li {
  padding-bottom: 14px;
}

span {
  font-weight: 700;
  color: #484848;
}

blockquote {
  margin: 26px;
}
